# coding: utf-8

"""
    MetaboScape REST Application

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2025b
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from metaPyScape.api_client import ApiClient


class SamplesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_all_samples(self, feature_table_id, **kwargs):  # noqa: E501
        """List All Samples  # noqa: E501

        This operation retrieves a list of all samples for a specific feature table identified by the 'featureTableId' path parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_all_samples(feature_table_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str feature_table_id: The unique identifier of the feature table for which the samples are to be retrieved. (required)
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_all_samples_with_http_info(feature_table_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_all_samples_with_http_info(feature_table_id, **kwargs)  # noqa: E501
            return data

    def list_all_samples_with_http_info(self, feature_table_id, **kwargs):  # noqa: E501
        """List All Samples  # noqa: E501

        This operation retrieves a list of all samples for a specific feature table identified by the 'featureTableId' path parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_all_samples_with_http_info(feature_table_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str feature_table_id: The unique identifier of the feature table for which the samples are to be retrieved. (required)
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['feature_table_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_all_samples" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'feature_table_id' is set
        if ('feature_table_id' not in params or
                params['feature_table_id'] is None):
            raise ValueError("Missing the required parameter `feature_table_id` when calling `list_all_samples`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'feature_table_id' in params:
            path_params['featureTableId'] = params['feature_table_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/samples/{featureTableId}/list', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Sample]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
